<?xml version="1.0"?>
<config>
  <modules>
    <Mind_Pdfmaster>
      <version>0.1.0</version>
    </Mind_Pdfmaster>
  </modules>
  <global>
    <helpers>
      <pdfmaster>
        <class>Mind_Pdfmaster_Helper</class>
      </pdfmaster>
    </helpers>
	<blocks>
	  <pdfmaster>
		<class>Mind_Pdfmaster_Block</class>
	  </pdfmaster>
	</blocks>
	<models>
	  <pdfmaster>
		<class>Mind_Pdfmaster_Model</class>
		<resourceModel>pdfmaster_mysql4</resourceModel>
	  </pdfmaster>
	  <pdfmaster_mysql4>
		<class>Mind_Pdfmaster_Model_Mysql4</class>
		<entities>		  
			  <pdflist>
				<table>pdflist</table>
			  </pdflist>		  
			  <clinicalcustomer>
				<table>clinicalcustomer</table>
			  </clinicalcustomer>
        </entities>
	  </pdfmaster_mysql4>
	</models>
	<resources>
	  <pdfmaster_setup>
		<setup>
		  <module>Mind_Pdfmaster</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </pdfmaster_setup>
	  <pdfmaster_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </pdfmaster_write>
	  <pdfmaster_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </pdfmaster_read>
	  <salesattribute1532788393_setup>
		<setup>
		  <module>Mind_Pdfmaster</module>
		  <class>Mage_Sales_Model_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </salesattribute1532788393_setup>
	  <salesattribute1532788393_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </salesattribute1532788393_write>
	  <salesattribute1532788393_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </salesattribute1532788393_read>
	  <customerattribute1532788393_setup>
		<setup>
		  <module>Mind_Pdfmaster</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1532788393_setup>
	  <customerattribute1532788393_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1532788393_write>
	  <customerattribute1532788393_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1532788393_read>
	</resources>



    <events>
	  <customer_login> <!-- identifier of the event we want to catch -->
        <observers>
          <pdfmaster_event> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>pdfmaster/observer</class> <!-- observers class alias -->
            <method>Setcookie</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </pdfmaster_event>
        </observers>
      </customer_login>

	  <customer_logout> <!-- identifier of the event we want to catch -->
        <observers>
          <pdfmaster_event> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>pdfmaster/observer</class> <!-- observers class alias -->
            <method>Setcookie2</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </pdfmaster_event>
        </observers>
      </customer_logout>

    </events>

  </global>
  <admin>
	<routers>
	  <pdfmaster>
	    <use>admin</use>
		<args>
		  <module>Mind_Pdfmaster</module>
		  <frontName>admin_pdfmaster</frontName>
		</args>
	  </pdfmaster>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <pdfmaster module="pdfmaster">
		<title>Pdfmaster</title>
		<sort_order>100</sort_order>
		<children>
		  <pdflist module="pdfmaster">
		    <title>Manage Pdflist</title>
			<sort_order>0</sort_order>
			<action>admin_pdfmaster/adminhtml_pdflist</action>
		  </pdflist>
		  <clinicalcustomer module="pdfmaster">
		    <title>Manage Clinicalcustomer</title>
			<sort_order>10</sort_order>
			<action>admin_pdfmaster/adminhtml_clinicalcustomer</action>
		  </clinicalcustomer>
		</children>
	  </pdfmaster>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<pdfmaster translate="title" module="pdfmaster">
			  <title>Pdfmaster</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <pdflist translate="title">
			<title>Manage Pdflist</title>
			<sort_order>0</sort_order>
		  </pdflist>
		  <clinicalcustomer translate="title">
			<title>Manage Clinicalcustomer</title>
			<sort_order>10</sort_order>
		  </clinicalcustomer>
			  </children>
			</pdfmaster>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<pdfmaster>
		  <file>pdfmaster.xml</file>
		</pdfmaster>
	  </updates>
	</layout>
  </adminhtml>
</config> 