<?xml version="1.0"?>
<config>
	<modules>
		<Nvncbl_Nutrigineering>
			<version>0.5.0</version>
		</Nvncbl_Nutrigineering>
	</modules>
	<global>
		<models>
			<nutrigineering>
				<class>Nvncbl_Nutrigineering_Model</class>
			</nutrigineering>
		</models>
		<resources>
			<nutrigineering_setup>
				<setup>
					<module>Nvncbl_Nutrigineering</module>
					<class>Nvncbl_Nutrigineering_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</nutrigineering_setup>
			<nutrigineering_write>
				<connection>
					<use>core_write</use>
				</connection>
			</nutrigineering_write>
			<nutrigineering_read>
				<connection>
					<use>core_read</use>
				</connection>
			</nutrigineering_read>

			<address_setup>
				<setup>
					<module>Nvncbl_Nutrigineering</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</address_setup>

		</resources>
		<events>
			<customer_login>
			  <observers>
				  <nutrigineering_session>
					  <class>nutrigineering/observer</class>
					  <method>setClinicSession</method>
					  <type>singleton</type>
				  </nutrigineering_session>
			  </observers>
			</customer_login>
		</events>
		<fieldsets>
			<sales_convert_quote_address>
				<company_type>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</company_type>
			</sales_convert_quote_address>
			<customer_address>
				<company_type>
					<to_quote_address>*</to_quote_address>
				</company_type>
			</customer_address>
		</fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<nvncbl_nutrigineering>
					<file>nvncbl_nutrigineering.xml</file>
				</nvncbl_nutrigineering>
			</updates>
		</layout>
		<routers>
			<nutrigineering>
				<use>standard</use>
				<args>
					<module>Nvncbl_Nutrigineering</module>
					<frontName>nutrigineering</frontName>
				</args>
			</nutrigineering>
		</routers>
	</frontend>
</config>