<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Beehexa_Customerbilling>
            <version>0.1.0</version>
        </Beehexa_Customerbilling>
    </modules>	
    <global>	
        <customerbilling>
                <class>Beehexa_Customerbilling_Model</class>
        </customerbilling>	
        <events>
            <customer_save_before>
                <observers>
                    <Beehexa_Customerbilling>
                        <type>singleton</type>
                        <class>Beehexa_Customerbilling_Model_Observer</class>
                        <method>updateCustomerBilling</method>
                    </Beehexa_Customerbilling>
                </observers>
            </customer_save_before>
            
            <customer_register_success>
                <observers>
                    <Beehexa_Customerbilling>
                        <type>singleton</type>
                        <class>Beehexa_Customerbilling_Model_Observer</class>
                        <method>updateCustomerBilling</method>
                    </Beehexa_Customerbilling>
                </observers>
            </customer_register_success>            
            
        </events>	
    </global>	
</config>
